<style>
    #announcements {
            margin: 0 auto;
            position: relative;
            width: auto;
            flex-grow: 1;
    }
     #announcements-text {
        margin: 0 auto;
        text-align: center;
        position: relative;
    }
</style>
<div id="announcements">
        <span id="announcements-text">
            Announcements: 
        </span>
</div>