<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Document</title>
    <script src="https://www.paypal.com/sdk/js?client-id=AeknwFmdwx1XZ75A9kBSTLTt5vFojlCGSt20uqMq2WDSE5tbNCOYigPJiyeHDzk8xnkT2Etbf71Kj1Rm"></script>
    <script>paypal.Buttons().render('#paypal-button');</script>
</head>
<body>
    <span id="paypal-button" style="text-align:center;"></span>
</body>
</html>