#server {
    margin-top: 20px;
}

.is-fullhd {
    width: 100%;
}
.section-title {
    margin: 50px 0px;
}
.is-flex {
    display: flex!important;
}
.mr-4 {
    margin-right: 1rem!important;
}
span {
    font-style: inherit;
    font-weight: inherit;
}

.section-title h4 {
    color: var(--text);
    font-weight: 700;
    font-size: 1.2rem;
}

.section-title p {
    font: 0 16px "Inter",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: var(--text-tertiary);
    margin-top: 5px;
}
p {
    font-weight: 400;
}

.server-list-section {
    position: relative;
}

.server-card {
    padding-bottom: 30px;
    transition: .2s transform linear;
    padding: 20px !important;
}

.server-card .content {
    min-height: 330px;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,.1);
    position: relative;
    padding: 15px;
    background-color: var(--card-background);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.server-card .content>div {
    width: 100%;
}
.image {
    display: block;
    position: relative;
}
.server-card .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 105px;
}

.ub_container {
    height: 180px;
    width: 180px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    pointer-events: none;
}
.server-list-section .columns .guild-img {
    background: #fff !important;
}
.columns .guild-img {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: none;
    background: transparent !important;
}

.server-card .stats {
    margin-right: 10px;
}
.server-card .top .btn-like {
    margin: 0 auto;
}
.btn-like {
    display: inline-flex;
    align-items: center;
    border: solid 1px #ccd6f8;
    border-radius: 2px;
    padding: 2px 10px;
    font-weight: 600;
    font-size: 16px;
    color: #334dad;
    margin-top: 20px;
}
.btn {
    border: none;
    background: none;
    transition: .2s ease-out all;
    cursor: pointer;
    border-radius: 4px;
    color: var(--text);
    display: inline-block;
}
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.server-card .top .servers {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
.servers {
    text-align: center !important;
}
.btn-1x {
    font-weight: 600;
    font-size: 12px;
    padding: 5px 9px;
}
.btn-orange {
    background: #7289da;
    color: #fff;
    border-radius: 4px;
    display: block;
}
.server-card .info {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.guild-name {
        font: 500 18px "Inter",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: var(--text);
}
.guild-name:hover {
    color: #7289da;
}

.guild-description {
    font: 400 14px "Inter",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #424f80;
    line-height: 1.36;
    margin-top: 10px;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: 400;
    font-size: 14px;
    color: #424f80;
    line-height: 1.36;
    margin-top: 10px;
    max-width: 100%;
    max-height: 8rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.content, .content h3, .content h4, .content h5, .content h6, .content p, .content td {
    color: var(--text-tertiary);
}
.lib {
    font: 500 12px "Inter",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 100%;
    margin-top: 20px;
}
.bottom {
    margin-top: auto;
}
.bot-btns {
    border: none;
    padding-top: 10px;
    border-top: 1px solid #c2c1be;
}
.bot-btns {
    border-top: 1px solid #eef1fa;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.verifiedIcon {
    position: absolute;
    z-index: 100000;
    top: -180px;
    left: -190px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.1);
}

header {
    background-color: rgb(200, 131, 60);
    display: block;
    padding-top: 140px;
    padding-bottom: 3rem;
    color: #fff;
}
header h1  {
    font-weight: 900;
    font-family: "Inter",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 36px;
}
header h2 {
    margin-top: 10px;
    font: 400 20px "Inter",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.relative {
    position: relative;
}
.search-wrapper {
    background-color: #ffffff;
    border-radius: 4px;
}
.input-with-btn {
    margin-top: 40px;
    border-radius: inherit;
    position: relative;
    z-index: 1;
    display: flex;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

input {
    border: none;
}

.input-with-btn input {
    font: inherit;
    border-radius: inherit;
    background-color: #ffffff;
    color: #0e0e0e;
    flex: 1;
    padding: 1rem;
}

.input-with-btn button {
    font: inherit;
    border-radius: inherit;
    cursor: pointer;
    padding: 0 1rem;
    color: #0e0e0e;
    border: none;
    background-color: #ffffff;
    text-transform: uppercase;
}
.search-wrapper .expandedsearchres {
    background-color: inherit;
    position: absolute;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 2px 2px 2px #0002;
    overflow: hidden;
    font: 400 18px "Inter",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: var(--text);
    z-index: 5;
    flex: 1;
    padding: .5rem;
    width: 100%;
    max-height: 520px;
    display: none;
}

.search-wrapper .active {
    box-shadow: 2px 2px 2px #0002;
    border-radius: 4px 4px 0px 0px;
}
.flex .center-vertical {
    align-items: center;
}
i.icon {
    display: inline-block;
    opacity: 1;
    margin: 0 .25rem 0 0;
    width: 1.18em;
    height: 1em;
    font-size: 1em;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.featuredbuttonss {
    margin-top: 10px;
}
.featuredbuttonss .button {
    padding: 11px 21px;
    background: none !important;
    border-radius: 4px;
    border: 1px solid #96a5da;
    color: var(--text-tertiary);
    transition: .2s !important;
    font-family: "Inter",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    box-shadow: 0px -2px 0px 0px transparent inset !important;
}
.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}