header {
    background-color: rgb(200, 131, 60);
    padding-top: 140px;
    padding-bottom: 3rem;
    color: #fff;
    height: 300px !important;
    display: block;
}
header h1 {
    font-weight: 900;
    font-size: 36px;
}
#termcontent {
    margin-top: 20px;
}
.server-list-section {
    position: relative;
}
.maincon .content {
    margin: 0px auto 40px auto;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(21 21 21 / 60%), 0px 0px 3px 0px rgb(0 0 0 / 20%) !important;
}
.maincon .content {
    border-radius: 4px;
}
.maincon .content {
    min-height: 330px;
    position: relative;
    padding: 20px;
    background: #fff;
    display: flex;
    z-index: 0;
    flex-direction: column;
    flex-wrap: nowrap;
}
.tos {
    white-space: pre-wrap;
    font-weight: 200;
    font-size: 16px;
}
a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
}